<div ng-controller="productsController">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="well" ng-repeat="product in products" ng-cloak>
        <p>{{product.name}}</p>
        <input class="form-control" placeholder="Quantity Needed" ng-model="product.quantity" />
      </div>

      <button type="submit" class="btn btn-large btn-success" ng-click="purchase(products)" ng-disabled="submitted">{{purchaseButtonText}}</button>

    </div>
  </div>
</div>
